body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 40px;
}
.upper{
    display: flex;
    padding-bottom: 10%;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    }
.upper-text{
    padding-top: 10%;
    }
.half-width img{
    
    width: 80%;
    padding-top: 4%;
}
.button{
    padding: 10px 50px;
    background-image: linear-gradient(rgb(223, 73, 73),rgb(222, 154, 36)
    );
    border-radius: 20px;
    font-weight: 700;
    color: aliceblue;
    text-decoration: none;
}
.middle{
    display: flex;
    padding-bottom: 10%;
    background-image: url(Image/7.png);
    background-repeat: no-repeat;
    margin-right: 0;
}
.sec-img{
    width: 30%;
}
.mid-class{
    text-align: center;
}
.mid{
    text-align: center;
    
}
footer{
    background-color: rgb(47, 40, 40);
    padding-top: 5%;
    padding-bottom: 5%;
    
}
.foot {
    text-align: center;
    color :rgb(82, 85, 85);
}
.orange{
    color: orange;
}
.shadow{
    box-shadow: 5px 5px 20px rgb(129, 126, 126);
    border-radius: 5%;
    margin: 5px 5px 5px 40px;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;

}
.shadow1{
    box-shadow: 5px 5px 20px rgb(129, 126, 126);
    border-radius: 30px;
    text-align: center;
    /* padding: 4% 4% 4% 4%; */
    padding-bottom: 10px;
    padding-right: 50px;
   
    margin: 5px 50px 50px 50px;

}
